SPRING_PROFILES_ACTIVE=default
SPRING_DATASOURCE_URL=jdbc:postgresql://localhost:5432/jobsearch
SPRING_DATASOURCE_USERNAME=jobsearch
SPRING_DATASOURCE_PASSWORD=devpass
SPRING_DATA_REDIS_HOST=localhost
SPRING_DATA_REDIS_PORT=6379
SPRING_DATA_REDIS_PASSWORD=
SPRING_DATA_REDIS_SSL_ENABLED=false
SERVICEBUS_CONNECTION_STRING=
SERVICEBUS_QUEUE_NEW_JOBS=new-job-postings
SERVICEBUS_ENABLED=false
FIREBASE_CREDENTIALS_PATH=
FIREBASE_CREDENTIALS_JSON=
