SPRING_PROFILES_ACTIVE=default
SPRING_DATA_REDIS_HOST=localhost
SPRING_DATA_REDIS_PORT=6379
SPRING_DATA_REDIS_PASSWORD=
SPRING_DATA_MONGODB_URI=mongodb://root:devpass@localhost:27017/jobsearch?authSource=admin
JOB_POSTING_SERVICE_URL=http://localhost:8081
FIREBASE_CREDENTIALS_PATH=
FIREBASE_CREDENTIALS_JSON=
